.card{
    width: 26.17vw;
    height: 25vh;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}
.span-card{
    height: 17.78vh;
    width: 0.4vw;
    background: #F97316;
}
.inf-card{
    width: 13.02vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    padding-left: 1.5vh;
    padding-top: 6vh;
}
.img-card{
    width: 12.7vw;
    height: 25vh;
    object-fit: cover;
    object-position: center;
    border-radius: 90px 10px 10px 90px;
}

.title-card{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 95.19%;
}
.type-card{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 95.19%;
}
.buttons {
    display: flex;
}

.btn-read{
    width: 92px;
    height: 35px;
    margin-top: 2vh;
    background: #D1FBF0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 95.19%;
    border:none;
    color: #00BA88;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-edit{
    width: 92px;
    height: 35px;
    margin-top: 2vh;
    background: #8883f08e;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 95.19%;
    border:none;
    color: #00BA88;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-delete {
    width: 92px;
    height: 35px;
    margin-top: 2vh;
    background: #fd690091;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 95.19%;
    border:none;
    color: #00BA88;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/*color type manga*/

.red-span{
    background-color:#EF8481 ;
}
.orange-span{
    background-color:#FC9C57 ;
}
.green-span{
    background-color:#00BA88 ;
}
.purple-span{
    background-color:#8883F0;
}

.red-type{
    color: #EF8481;
}
.orange-type{
    color: #FC9C57;
}
.green-type{
    color: #00BA88;
}
.purple-type{
    color: #8883F0;
}


@media (max-width:1023px){
    .card{
        width: 50vw;
    }
    .span-card{
        width: 0.8vw;
    }
    .inf-card{
        width: 25vw;
    }
    .img-card{
        width: 25vw;
    }
}

@media (max-width:767px){
    .card{
        width: 80vw;
    }
    .span-card{
        width: 0.8vw;
    }
    .inf-card{
        width: 30vw;
    }
    .img-card{
        width: 32vw;
    }
}

@media (max-width:424px){
    .card{
        height: 20vh;
    }
    .span-card{
        width: 1vw;
        height: 14vh;
    }
    .inf-card{
        height: 20vh;
        padding-top: 4vh;
    }
    .img-card{
        height: 20vh;
    }
}
