.table-photo {
    width: 1.5rem;
    border-radius: 50%;
}

table {
    border-collapse: collapse;
    text-align: left;
    background: #F9F9FC;;
}

td, tr {
    border: 1px solid #dbdbff70;
    width: 10rem;
}

.celda-photo {
    width: 3rem;
    text-align: center;
}

.icon-photo {
    width: 1.5rem;
}

.celda-icono {
    width: 2rem;

}

.celda-switch {
    width: 3.5rem;
}

