.edit-chapter-page{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: white;
    padding-top: 25vh;
    align-items: flex-start;
    justify-content: flex-start;
} 



