.MangaDetails {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    padding-top: 95px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 28px;
    background-color: #EBEBEB;
}

