.edit-modal{
    position: fixed;
    top: 0;
    width: 40vw;
    height: 60vh;
    background: #D1FBF0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-radius: 20px;
    margin-top: 15vh;
}

.edit-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.edit-title>h2{
    text-align: center;
    color: #00BA88;
}

.edit-title>img{
    padding: 3px;
    background-color: #424242;
    border-radius: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.manga-form{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5.364vh;
}

.manga-input{
    background-color: transparent;
    width: 50%;
    outline: none;
    border: none;
    border-bottom: 1px solid #424242;;
    height: 2.467vh;
}
#selectMove {
    width: 50%;
    color: gray;
    font-size: 0.9rem;
    height: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}
.send-Btn{
    border: 1px solid;
    text-decoration: none;
    background: rgba(209, 251, 240, 1);
    width: 92px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 50px;
    color: #098060;
    font-weight: 700;
    font-size: 12px;
    line-height: 95.19%;
    cursor: pointer;
}

.send-Btn:hover {
    background: white;
}

@media (max-width: 768px){
    .mangas .mangas-displayed .mangas-cards .edit-modal{
        width: 80%;
    }
}
