@media screen and (max-width: 1000px) {
    .subscribe {
        flex-direction: column !important;
        width: 95vw !important;
        justify-content: space-evenly !important;
        padding-top: 40px !important;
    }

    .subscribe h3 {
        margin-bottom: 1rem !important;
    }

    .footer-links {
        flex-direction: column !important;
        width: 95vw !important;
        margin-top: 0 !important;
        gap: 1rem;
    }

    hr{
        display: none;
    }

    .links {
        display: none !important;
    }

    .footer-interaction{
        padding: 0 !important;
    }
}

@media screen and (max-width: 580px) {
    .subscribe-input button {
        padding: 9px 20px !important;
        font-size: 12px !important;
        line-height: 15px !important;
    }

    .subscribe-input input {
        padding: 15px !important;
        max-width: 50vw !important;
    }
}

.footer-container {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-img {
    height: 444px;
    width: 100%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    object-fit: contain;
}

.subscribe {
    width: 75vw;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    padding-top: 78px;
    padding-bottom: 45px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 60px;
    box-shadow: #51525324 0px 10px 50px 0px;
}

.subscribe h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

.subscribe-input {
    padding: 8.5px;
    border: 2px solid #22222216;
    border-radius: 4px;
}

.subscribe-input .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2B3D51;
}

.subscribe-input input {
    padding: 27px;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #FFFFFF;
}

.subscribe-input button {
    padding: 15px 34px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: #F97316;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
}

.footer-links {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 60px;
    margin-top: 35px;
    justify-content: space-between;
    padding-top: 35px;
    width: 75vw;
}

.links {
    display: flex;
    gap: 62px;
}

.links:hover {
    cursor: pointer;
}

.links a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-decoration: none;
    color: #222222;
}

.logo2 {
    width: 169px;
    height: 50px;
    object-fit: contain;
}

.social-media {
    display: flex;
    gap: 40px;
}

.social-media img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.social-donate {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.donate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 62px;
    gap: 10px;
    width: 221px;
    height: 43px;
    background: #F97316;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    color: white;
    text-decoration: none;
}

.donate:hover {
    cursor: pointer;
}

.donate img {
    height: 16.5px;
    width: 18px;
}

.footer-interaction {
    padding-bottom: 97.21px;
}

hr {
    width: 75vw;
    border: 1px solid #2B3D51;
    opacity: 0.2;
    position: relative;
    bottom: 40px;
}