.btn-send-author{
    width: 240px;
    height: 50px;
    border-radius: 5vh;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vh;
    text-align: center;
    color: #FFFFFF;
    margin-top: 4vh;
    cursor: pointer;
}
.orange{
    background: #F97316;
}
.green{   
    background: #34D399;
}
.red{
    background: #FBDDDC;
    color: #EE8380;
}