.main-container {
  min-height: 100vh;
  background-color: #EBEBEB;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}