.nocard{
    width: 30vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textnocard{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 4vh;
}